
.hero-unit {
    font-size: 14px;
}

.greeting {
    font-size: 18px;
}

.hero-unit li {

    margin: 5px 0px 5px 0px;
    list-style-type: none;
}

.hero-unit li i { padding-right: 5px; }

div.hero-unit h1 { }
div.hero-unit h2 { padding-left: 20px; }
div.hero-unit p.intro {
    padding-top: 10px;
}

ul.about-me { padding-top: 10px; }
ul.about-me li {
    padding-top: 5px;
}

#portfolio-hidden,
#resume-hidden,
#contact-hidden,
#home-hidden
{
    display: none;
}

.pressed {
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}
.pressed > h2 {  }

#resume-hidden h2 { }
#resume-hidden h3 { margin-bottom: 0; }

.resume-content {
    padding-left: 40px;
}
.resume-content p { margin-top: 0; margin-bottom: 0; }

.job-header,
.edu-subheader {

    margin-bottom: 5px;
}

.edu-header {
    margin-left: 25px;
}

.job-summary {
}

.job-tasks {
}




.bb-content {
    float: left;
    width: 630px;
}

.bb-newsfeed {
    border-left: 1px solid #ccc;
    margin-left: 20px;
    margin-top: 5px;
    position: relative;
    display: block;
}

.bb-item {
    margin-top: 18px;
    padding-left: 80px;
    position: relative;
    display: block;
}

.bb-item p {
    line-height: 1;
    margin-top: 0;
}
